.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.grid > table {
    width: 100vw;
    height: auto;
    overflow: auto;
    margin: 20px;
    border-spacing: 0px;
}

.grid > table > tr {
    height: 20px;
    gap: 0;
}

.grid > table > tr > td {
    height: 20px;
    width: 20px;
    border: 2px solid lightblue;
    gap: 0; 
}

.grid > table > tr > td > i {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 3px;
}

