$pink: lightpink;
$green: rgb(63, 205, 113);


/* nav styling */
.nav {
    overflow: hidden;
    background-color: $green;
    display: flex;
}

.main-link {
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav a:hover {
    color: $pink;
}

.algo-dropdown {
    position: relative;
    display: inline-block;
}

.nav > button {
    margin: 15px;
    padding: 10px 10px;
    background-color: pink;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 10%;
}

/* Node Key Styling */
#node-key {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: white;
}

#node-key img {
    height: 18px;
    width: 18px;
    border-radius: 10%;
}

.key-text{
    padding-left: 10px;
}

#node-key div {
    display: flex;
    align-items: center;
}

// Directions styling
#directions {
    padding: 25px;
}

#directions p {
    padding: 5px;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


  