.visited-anim {
    background-color: lightgreen;
    animation-name: visited;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visited{
    0% {
        transform: scale(0.3);
        background-color: lightpink;
    }

    50% {
        transform: scale(1.2);
        background-color: lightpink;
    }

    50% {
        transform: scale(1);
        background-color: lightpink;
    }
}